body {
	font-family: Arial,  sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.fon {
	display: inline-block;
	height: 570px;
	width: 570px;
	background-image: url(../img/fon.jpg);
}

.form {
 background-color: #fbfdfd;
	display: inline-block;
	border: 1px solid #cfdede;
	width: 320px;
	height: 370px;
	margin: 100px 125px;
}

.header {
	width: 149px;
	height: 25px;
	background-color: #01b3b3;
	color: #fbfdfd;
	margin-left: 29px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -4px;
	margin-bottom: 32px;
	height: 25px;
	line-height: 25px;
}

form {
	margin: auto 28px;
	width: 262px;
	height: 205px;
}

.one {
	margin-bottom: 9px; 
}

.two {
	margin-top: -4px;
 margin-bottom: 9px;
}

.three {
	margin-top: -3px;
	margin-bottom: 11px;
}

.two-input {
	margin-top: 3px;
}

.form input {
	margin-bottom: 20px;
	width: 100%;
	height: 30px;
	border: 1px solid #cfdede;
	background-image: url(../img/fon.jpg);
	font-weight: 300;
	font-style: italic;
	padding-left: 12px;  
}

form span {
	color: #01b3b3;
}

button {
	text-transform: uppercase;
	width: 260px;
	height: 45px;
	font-size: 16px;
	color: #ffffff;
	background-color: #01b3b3;
	border: none;
	margin: 36px 30px;
	border-radius: 4px;
}