/* Отменить горизонтальный скролл */
html,
body {
  overflow-x: hidden;
}
/* Fonts family */
@font-face {
  font-family: 'PTSans_bold';
  src: url('../fonts/PTSans-Bold.eot');
  src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Bold.woff2') format('woff2'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype'), url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeue_bold';
  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueBold.woff2') format('woff2'), url('../fonts/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold.ttf') format('truetype'), url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans_reg';
  src: url('../fonts/PTSans-Regular.eot');
  src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Regular.woff2') format('woff2'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Базовые цвета (Colors) */
/* Базовые настройки (Basic setting) */
html {
  font-size: 10px;
}
body {
  font-family: 'PTSans_reg', sans-serif;
}
.button {
  padding: 2.3rem 7.5rem;
  font-size: 2rem;
  font-family: 'BebasNeue_bold', sans-serif;
  background-color: #ffffff;
  color: #2aa723;
  border: none;
}
.button:hover {
  text-shadow: 1px 1px #2aa723, -1px -1px #2aa723;
  color: #ffffff;
}
.form-input {
  padding: 2.3rem 7.5rem;
  margin-right: 3rem;
  font-size: 1.6rem;
  background-color: #2aa723;
  border: 2px solid #ffffff;
}
/* Меняем цвет в input */
::-webkit-input-placeholder {
  color: #ffffff;
}
::-moz-placeholder {
  color: #ffffff;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #ffffff;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #ffffff;
}
/* Фокус - взаимодействие с объектом */
input:focus,
button:focus,
a:focus {
  outline: none;
}
/* Типографика (Typography) */
section {
  padding: 10rem 0;
}
.section-header {
  margin-bottom: 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'BebasNeue_bold', sans-serif;
  font-size: 4.4rem;
}
.section-header p {
  margin-top: 5rem;
  font-size: 2rem;
}
/* Главный экран (main) */
.main {
  background: #2b2b2b url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 2rem 0;
  color: #ffffff;
}
.main-content {
  margin: 5rem 0;
}
.main-content h1 {
  padding-bottom: 3rem;
  font-size: 5.6rem;
  font-family: 'BebasNeue_bold', sans-serif;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.2rem;
  padding-bottom: 2rem;
}
.main-list {
  padding: 0;
  list-style: none;
  font-size: 2rem;
}
.main-list li {
  padding-bottom: 2rem;
  position: relative;
  padding-left: 5rem;
}
.main-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
}
.main-list li:before {
  background: url(../img/check.png) center no-repeat;
  background-size: 70%;
}
.main .header .phone-block {
  text-align: center;
}
.main .header .phone-block p {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'BebasNeue_bold', sans-serif;
}
.main .header .phone-block a {
  color: #2aa723;
  font-size: 1.6rem;
  border-bottom: 1px solid #2aa723;
  text-decoration: none;
}
.main-block {
  padding: 5rem 4rem;
  text-align: center;
  min-width: 27rem;
  min-height: 27rem;
}
.main-block p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: 'PTSans_bold', sans-serif;
  text-transform: uppercase;
}
.main-block-one {
  background-color: rgba(42, 167, 35, 0.7);
}
.main-block-two {
  margin-right: -3rem;
  background-color: rgba(17, 99, 12, 0.7);
}
.main-block-three {
  background-color: rgba(33, 136, 28, 0.7);
}
/* Блок с видео */
.video {
  background-color: #ffffff;
}
.video-content {
  text-align: right;
  font-family: 'BebasNeue_bold', sans-serif;
  font-size: 4.4rem;
}
.video-content img {
  width: 35rem;
  margin-right: 6rem;
}
.video-content iframe {
  width: 560px;
  height: 315px;
  border: none;
  -webkit-box-shadow: 0 0 5px 3px #008000;
          box-shadow: 0 0 5px 3px #008000;
}
/* Блок лучшие условия */
.conditions {
  background-color: #2aa723;
}
.conditions-block {
  text-align: center;
}
.conditions-block p {
  color: #ffffff;
  font-size: 1.8rem;
  margin-top: 4rem;
}
/* Блок складские услуги */
.services {
  background-color: #ffffff;
}
.services .section-header {
  margin-bottom: 6rem;
}
.services-list {
  font-size: 1.6rem;
  margin-left: -5rem;
}
.services-list ul {
  list-style: none;
}
.services-list ul li {
  padding-left: 4rem;
  position: relative;
  margin-bottom: 3rem;
}
.services-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
}
.services-list ul li:before {
  background: url(../img/checked.png) center no-repeat;
}
/* Блок "Комфорт условия для бизнеса" */
.comfort {
  background-color: #fbffe7;
  padding-bottom: 0;
}
.comfort-block {
  min-height: 20rem;
  margin-bottom: 5rem;
  text-align: center;
}
.comfort-block p {
  margin-top: 5rem;
  font-size: 1.8rem;
}
/* Блок "Получить предварительный расчет" */
.calculation {
  background: #2aa723 url(../img/calculation-bg.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.calculation-content h2 {
  font-family: 'BebasNeue_bold', sans-serif;
  font-size: 3.6rem;
}
.calculation-content p {
  margin: 4.6rem 0 6rem 0;
  font-size: 1.8rem;
}
/* Блок "Сервис для арендаторов" */
.tenant {
  background-color: #ffffff;
}
.tenant-block {
  padding: 3rem;
  width: 37rem;
  height: 37rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.tenant-block .title {
  font-size: 2.4rem;
  font-family: 'PTSans_bold', sans-serif;
}
.tenant-block .small {
  font-size: 2rem;
}
.tenant-one {
  background: #2b2b2b url(../img/tenant/1.png) center no-repeat;
  background-size: cover;
}
.tenant-two {
  background: #2b2b2b url(../img/tenant/2.png) center no-repeat;
  background-size: cover;
}
.tenant-three {
  background: #2b2b2b url(../img/tenant/3.png) center no-repeat;
  background-size: cover;
}
.tenant-four {
  background: #2b2b2b url(../img/tenant/4.png) center no-repeat;
  background-size: cover;
}
.tenant-five {
  background: #2b2b2b url(../img/tenant/5.png) center no-repeat;
  background-size: cover;
}
.tenant-six {
  background: #2b2b2b url(../img/tenant/6.png) center no-repeat;
  background-size: cover;
}
/* Блок "Как мы работаем" */
.working {
  background-color: #fbffe7;
}
.working-block {
  text-align: center;
}
.working-block p {
  font-size: 1.8rem;
  margin-top: 4.5rem;
}
/* Блок "Получить наиболее выгодные условия" */
.get {
  background: #2aa723 url(../img/get-bg.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
}
.get-content h2 {
  font-family: 'BebasNeue_bold', sans-serif;
  font-size: 3.6rem;
}
.get-content p {
  margin: 4.6rem 0 6rem 0;
  font-size: 1.8rem;
}
/* Блок с картой */
.map {
  padding-bottom: 0;
  background-color: #ffffff;
}
/* Оформление подвала (footer) */
.footer {
  padding: 3rem 0;
  background-color: #151515;
}
.footer .phone-block {
  text-align: center;
}
.footer .phone-block p {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'BebasNeue_bold', sans-serif;
  color: #ffffff;
}
.footer .phone-block a {
  color: #2aa723;
  font-size: 1.6rem;
  border-bottom: 1px solid #2aa723;
  text-decoration: none;
}
.footer .developer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}
.footer .developer a {
  color: #2aa723;
  font-size: 1.5rem;
  border-bottom: 1px solid #2aa723;
  text-decoration: none;
}
.footer .developer a:hover {
  color: #90ee90;
}
/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup-close {
  position: absolute;
  top: -6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 5rem;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 20%;
  background-color: #2aa723;
  color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5rem 3rem;
}
.popup-content .form-input {
  display: block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 2rem;
  padding: 2rem 4rem;
}
.popup-content p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.popup-header {
  font-family: 'BebasNeue_bold', sans-serif;
  font-size: 3rem;
}
/* Адаптив под разную ширину экрана */
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .main-block {
    padding: 4rem 0;
    min-width: 25rem;
    min-height: 25rem;
  }
  .main-block-one {
    margin-left: 2rem;
  }
  .main-block-two {
    margin-right: 0;
  }
  .main-block-three {
    margin-left: 2rem;
  }
  .calculation .form-input {
    width: 100%;
  }
  .tenant-block {
    width: 30rem;
    height: 30rem;
  }
  .get .form-input {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main .header .logo img {
    max-width: 15rem;
  }
  .main .header .address img {
    max-width: 15rem;
  }
  .main .header .phone-block p {
    font-size: 1.5rem;
  }
  .main .header .phone-block a {
    font-size: 1rem;
  }
  .main-content h1 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
  }
  .main-subtitle {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .main-list {
    font-size: 1.2rem;
  }
  .main-btn {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
  .main-box {
    margin-top: 10rem;
  }
  .main-block {
    padding: 1rem;
    text-align: center;
    min-width: 12rem;
    min-height: 12rem;
    max-width: 12rem;
    max-height: 12rem;
  }
  .main-block-one {
    margin-left: -5.2rem;
  }
  .main-block-three {
    margin-left: -5.2rem;
  }
  .main-block img {
    max-width: 5rem;
  }
  .main-block p {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .video-content {
    text-align: center;
  }
  .video-title img {
    margin-right: 0;
  }
  .conditions-block {
    margin-bottom: 2rem;
  }
  .conditions-block p {
    margin-top: 1rem;
  }
  .services-list {
    margin-left: 0;
  }
  .calculation-content {
    text-align: center;
  }
  .calculation .form-input {
    margin: 0 0 2rem 0;
  }
  .tenant-block {
    margin-bottom: 0.5rem;
  }
  .working-block {
    margin-bottom: 3rem;
  }
  .get-content {
    text-align: center;
  }
  .get .form-input {
    margin: 0 0 2rem 0;
  }
  .footer {
    text-align: center;
  }
  .footer .address {
    margin: 5rem 0;
  }
}
@media (max-width: 767px) {
  .main .header .logo {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .main .header .phone-block p {
    margin-top: -0.5rem;
    margin-bottom: -1rem;
  }
  .main-box {
    display: none;
  }
  .main-content {
    margin-left: 50%;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  .video {
    padding: 1rem 0;
  }
  .video-title h2 {
    font-size: 1.5rem;
  }
  .video-title img {
    max-width: 20rem;
  }
  .video-block iframe {
    width: 40rem;
    height: 20rem;
  }
  .conditions {
    padding: 1rem 0;
  }
  .conditions .section-header {
    margin-bottom: 3rem;
  }
  .conditions .section-header h2 {
    font-size: 1.5rem;
  }
  .conditions-block img {
    width: 20%;
  }
  .conditions-block p {
    font-size: 1rem;
  }
  .services {
    padding: 1rem 0;
  }
  .services .section-header {
    margin-bottom: 1rem;
  }
  .services .section-header h2 {
    font-size: 1.5rem;
  }
  .services .section-header p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .services .fotorama {
    max-width: 50%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .services-list {
    font-size: 0.8rem;
    text-align: center;
  }
  .services-list ul {
    padding: 0;
  }
  .services-list ul li {
    padding: 0;
    margin-bottom: 1rem;
  }
  .services-list ul li:before {
    display: none;
  }
  .comfort {
    padding-top: 1rem;
  }
  .comfort .section-header {
    margin-bottom: 1rem;
  }
  .comfort .section-header h2 {
    font-size: 1.5rem;
  }
  .comfort-block {
    min-height: 10rem;
    margin-bottom: 0;
  }
  .comfort-block img {
    max-width: 4rem;
  }
  .comfort-block p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .calculation {
    padding: 1rem 0;
  }
  .calculation-content h2 {
    font-size: 1.5rem;
  }
  .calculation-content p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .calculation .form-input {
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .calculation .form-btn {
    padding: 1rem 3.5rem;
    font-size: 1rem;
  }
  .tenant {
    padding: 1rem 0;
  }
  .tenant .section-header {
    margin-bottom: 1rem;
  }
  .tenant .section-header h2 {
    font-size: 1.5rem;
  }
  .tenant-block {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 25rem;
    height: 25rem;
  }
  .tenant .title {
    font-size: 1.3rem;
  }
  .tenant .small {
    font-size: 1.1rem;
  }
  .working {
    padding: 1rem 0;
  }
  .working .section-header {
    margin-bottom: 1rem;
  }
  .working .section-header h2 {
    font-size: 1.5rem;
  }
  .working-block p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .working-block img {
    max-width: 4rem;
  }
  .get {
    padding: 1rem 0;
  }
  .get-content h2 {
    font-size: 1.5rem;
  }
  .get-content p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .get .form-input {
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .get .form-btn {
    padding: 1rem 3.5rem;
    font-size: 1rem;
  }
  .map {
    padding-top: 1rem;
  }
  .map .section-header {
    margin-bottom: 1rem;
  }
  .map .section-header h2 {
    font-size: 1.5rem;
  }
  .footer {
    padding: 1rem 0;
  }
  .footer .logo img {
    width: 15rem;
  }
  .footer .address {
    margin: 2rem 0;
  }
  .footer .address img {
    width: 13rem;
  }
  .footer .phone-block p {
    font-size: 1rem;
  }
  .footer .phone-block a {
    font-size: 1rem;
  }
  .popup-header {
    font-size: 1.5rem;
  }
  .popup-content {
    padding: 3rem 2rem;
  }
  .popup-content p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .popup-content .form-input {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .popup-content .form-btn {
    padding: 1rem 4rem;
    font-size: 1rem;
  }
}
@media (max-width: 510px) {
  .tenant-block {
    width: 15rem;
    height: 15rem;
  }
  .tenant .title {
    font-size: 1rem;
  }
  .tenant .small {
    font-size: 0.8rem;
  }
  .video-block iframe {
    width: 20rem;
    height: 10rem;
  }
}
