section {
	margin-top: 100px;
}

.contact {	
	position: absolute;
	top: 100;
	left: 450px;
	width: 340px;
	height: 400px;
	background: #c60b0b;
	z-index: 10;
	text-align: center;
	color: #fff;
}

.contact h1 {
 font-size: 24px;
 margin-top: 40px;
 margin-bottom: 40px;
}

.contact p {
	margin-bottom: 40px;
}

.contact a {
	color: #fff;
	text-decoration: underline;
}

.info {
	margin: 30px 200px;
}

.info img {
 margin-top: -50px;
}

.info .p-one {
	display: inline-block;
	margin-left: 20px;
	font-weight: bold;
}

.info .p-two {
	text-align: center;
	color: gray;
}

.info span {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.info .p-thee {
	font-weight: bold;
	text-align: center;
}